.about {
    background-color: transparent;
    background-image: url("../../assets/img/background/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.1em;
}

.profile {
    max-width: 21em;
}

.my-details{
    background-color: rgba(255, 255, 255, 0.747);
}

